.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;

    cursor: pointer;
    z-index: 2000;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }

    // z-index tokhon ei kaaj korbe jokhon er position:absolute,relative,fixed etc deoaa thakbe:
  }

  &__background {
    background: radial-gradient($color-primary-light, $color-primary-dark);
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1000;
    transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
    -webkit-transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
    -moz-transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
    -ms-transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
    -o-transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    //opacity0dileohidehoyethakebutunvisiblehoynahtaiwidthkeo0koreditehobe:;
    opacity: 0;
    width: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -moz-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -ms-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -o-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      font-weight: 300;
      font-size: 3rem;
      padding: 1rem 2rem;

      background: linear-gradient(120deg, transparent 50%, $color-white 50%);
      background-size: 220%;

      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
      -webkit-transform: translateX(1rem);
      -moz-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
      -o-transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
    -webkit-transform: scale(80);
    -moz-transform: scale(80);
    -ms-transform: scale(80);
    -o-transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::after,
    &::before {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
    }

    &::after {
      top: 0.8rem;
    }
    &::before {
      top: -0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
  }
}
