.story {
  width: 75%;
  margin: 0 auto;
  transform: skewX(-12deg);
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;

  @include respond(tab-port) {
    padding: 4rem;
    padding-left: 7rem;
    width: 100%;
  }

  @include respond(phone) {
    transform: skewX(0);
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    //ekhonimageartextgularmajejategapthaketarjonnemarginusenahkoretransformusekortechi:;
    transform: translateX(-3rem) skewX(12deg);
    -webkit-transform: translateX(-3rem) skewX(12deg);
    -moz-transform: translateX(-3rem) skewX(12deg);
    -ms-transform: translateX(-3rem) skewX(12deg);
    -o-transform: translateX(-3rem) skewX(12deg);
    backface-visibility: hidden;
    //ekhoneishape(maneeimageersathelikhagulajatecircleermotoroundedkorethaketarjonneshape-outsideusekorahoy):;
    shape-outside: circle(50% at 50% 50%);
    //areishape-outsidedileeicontainerermoddeiwidth,heightandfloatthakalaagbetanahholehobenah!jarsobgulayei&__shapeermoddeiase:;
    position: relative;
    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
      -webkit-transform: translateX(-3rem) skewX(0);
      -moz-transform: translateX(-3rem) skewX(0);
      -ms-transform: translateX(-3rem) skewX(0);
      -o-transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    width: auto;
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    -webkit-transform: translateX(-4rem) scale(1.4);
    -moz-transform: translateX(-4rem) scale(1.4);
    -ms-transform: translateX(-4rem) scale(1.4);
    -o-transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);
    -webkit-transform: skewX(12deg);
    -moz-transform: skewX(12deg);
    -ms-transform: skewX(12deg);
    -o-transform: skewX(12deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    text-align: right;

    @include respond(phone) {
      transform: skewX(0);
      -webkit-transform: skewX(0);
      -moz-transform: skewX(0);
      -ms-transform: skewX(0);
      -o-transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  // ekhon story container er moddeh jekono ekjay gay hover korlei jate image ti blur hoye jay tar jonne:

  &:hover &__img {
    filter: blur(3px);
    -webkit-filter: blur(3px) brightness(80%);
    transform: translateX(-4rem) scale(1);
    -webkit-transform: translateX(-4rem) scale(1);
    -moz-transform: translateX(-4rem) scale(1);
    -ms-transform: translateX(-4rem) scale(1);
    -o-transform: translateX(-4rem) scale(1);

    // ei scale(1) er maddome amra image e jokhon hover korbo tokhon jate image ti zoom-out hoye vitore chole jay:
  }
}

// jeikhane jeikhane amra transform use korbo seikhane seikhane amra backface-visibility:hidden use korbo! er fole transform ti sothik vabe e apply hobe:
