*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* after and before psuedo elements gulao jate ei universal selector er property gula pay tar jonne! diyechi */
}

html {
  font-size: 62.5%;
  // 1 rem = 10px/16px = 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
    // 1rem = 9px/16px = 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
    // 1rem = 8px/16px = 56.25%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
    // 1rem = 12px/16px = 75%;
  }
}

body {
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
