body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-gray-dark;
}

.heading-primary {
  text-transform: uppercase;
  color: $color-white;

  /* amra jokhon heading-primary-main and heading-primary-sub er moddeh animation add korechilam tokhon tader parent element mane heading primary ti ektu top e uthe jeto ei somossa ti dur korar jonne oi text gular parent element ei backface-visibility:hidden diye diyechi */

  backface-visibility: hidden;

  margin-bottom: 6rem;

  &--main {
    display: block;
    letter-spacing: 3.5rem;
    font-weight: 400;
    font-size: 6rem;
    /* display block deoaar fole first span er likha ta full width niyeche karon amra jani span ekti inline element */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    font-weight: 700;
    animation: moveInRight 1s ease-in-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: all 0.3s;

  background: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  display: inline-block;
  // ekhon ei background gradiant ta jate amar background e nah theke text e eshe pore tar jonne nicher 2 line code:
  -webkit-background-clip: text;
  color: transparent;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -moz-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -ms-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -o-transform: skewY(2deg) skewX(15deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
